.landing-menu{
    margin-left: 20px;
    padding: 20px;
}
.hotel-menu-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 20px 20px 20px;
    gap: 50px;
    
}
.foodImage-tag{
   border-radius: 29px;
}
.menu-card-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
} 
.menu-items-card{
    padding:10px 10px;
    width:300px;
    border-radius: 29px;
    background: #fefefe;
    box-shadow:2px 3px 3px solid black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.403);
    transform:scale(1);
    transition:.3s ease-in-out;
}
.div-tag{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding:0px 20px;
}

.div-tag .hotel-name-card{
    font-size: 70px;
}
.div-tag .rating-hotel{
    float: left;
    height: 15px;
    width:50px;
}
.food-desc-card {
   
    overflow-wrap: break-word;
    /* Other styles as needed */
  }
.menu-items-card:hover{
    transform: scale(1.05); 
    cursor: pointer;   
}
.hotel-name-card{
    color: black;
    font-size:30px;
    font-style: bold;
}
.rating-hotel{
    background-color:green;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width:40px;
    font-size: 15px;
    padding:3px 10px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
}
.price-card{
   color: rgb(184, 11, 11);
    font-size: 25px;
}
.food-item-card{
    font-size: 20px;
    color: black;
}
.menuItems{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.menuItems img{
    border-radius: 99px;

}
.menuItems div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}